::-moz-selection {
    background-color: #000000B3;
    color: #1ED760;
}

::selection {
    background-color: #000000B3;
    color: #1ED760;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-button {
    background-color: #333333;
    border: 5px solid #333333;
    height: 40px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: linear-gradient(320deg, #1ED760, #409EFE);
    border: #000000 solid 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #409EFE;
    border: #000000B3 solid 5px;
    border-radius: 10px;
    box-shadow: -3px -3px 8px 3px #84D4FA, 3px 3px 8px 3px #84D4FA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #FE4040;
    box-shadow: -3px -3px 8px 3px #FF7070, 3px 3px 8px 3px #FF7070;
}

::-webkit-scrollbar-thumb {
    border: 5px solid #000000B3;
    border-radius: 360px;
    box-shadow: -3px -3px 8px 3px #84D4FA, 3px 3px 8px 3px #84D4FA;
}


body {
    user-select: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    transition: background-color 1s;
}

/* -profile-------------------------------------------------------------------------------------------- */

.main_content_profile {
    display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: auto;
    width: 350px;
    padding: 20px;
}

.main_content_profile .container_profile {
    position: relative;
    margin: 30px 30px 0px 30px;
    padding: 20px;
    background-color: #409EFE;
    border: solid 0px #FFFFFF;
    border-radius: 50%;
    transition: all .5s ease-in-out .2s, z-index .5s ease-in-out .2s;
}

.main_content_profile .container_profile:hover {
    transform: scale(1.2);
    background-color: none;
    border: solid 0 #FFFFFF;
    margin-bottom: 50px;
    transition: all .5s ease-in-out 0s;
}

.main_content_profile .container_profile .profile {
    background-color: #F5F5F5B3;
    border: solid 5px #FFFFFF80;
    border-radius: 5px;
    cursor: pointer;
    height: 230px;
    width: 230px;
    object-fit: cover;
    object-position: 0px -180px;
    transition: all .5s ease-in-out 0s;
}

.main_content_profile .container_profile:hover .profile {
    border: solid 0 #FFFFFF;
    object-position: 0px 0px;
}

.main_content_profile .container_profile p {
    position: absolute;
    margin-top: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
}

.main_content_profile .container_profile:hover>p {
    background-color: #000000B3;
    color: #00CC4F;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 18px;
}

.main_content_profile .container_profile .tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    position: absolute;
    top: 45%;
    left: 95%;
    width: 25%;
    z-index: 1;
    transition: .5s;
}

.main_content_profile .container_profile:hover .tooltiptext {
    visibility: visible;
    transition: .5s;
}

.main_content_profile .container_profile .icon_profile {
    animation: ดัน .5s infinite;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: -10px;
    margin-top: 100px;
    position: absolute;
    transition: all 2s;
    width: 30px;
    z-index: 1;
}

.main_content_profile .container_profile:hover>.icon_profile {
    animation: หมุน 1s infinite;
    border-radius: 50%;
    margin-top: 130px;
    margin-left: 20px;
    padding: 5px;
    width: 35px;
}

.main_content_profile .icon_profile_pic {
    animation: บิน 60s infinite;
    cursor: pointer;
    position: absolute;
    margin-left: -50px;
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 15px;
    z-index: 1;
}

/* ---------------------------------------------------------------------------------------------------- */

.container_muteButton {
    --color: #666666;
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    fill: var(--color);
    margin-left: 300px;
    margin-top: 350px;
    position: absolute;
    z-index: 1;
}

.container_muteButton .mute_muteButton {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container_muteButton .voice_muteButton {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container_muteButton input:checked~.mute_muteButton {
    display: none;
}

.container_muteButton input:checked~.voice_muteButton {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.container_muteButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ---------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

nav div {
    position: relative;
    width: fit-content;
    height: fit-content;
}

nav div:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
}

nav div:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0;
}

nav div button {
    font-family: 'Ropa Sans', sans-serif;
    /* font-family: 'Valorant', sans-serif; */
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 3.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
}

nav div button:hover {
    border: 1px solid #FF4655;
    color: #ffffff;
    background-position: 40%;
}

nav div button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

nav div button:hover:before {
    background-color: #ffffff;
}

nav div button:hover:after {
    background-color: #ffffff;
}

nav div button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

/* ---------------------------------------------------------------------------------------------------- */

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

/* ---------------------------------------------------------------------------------------------------- */


.light_mode_time .container_time {
    background: linear-gradient(to right, #FF7070, #E8D600);
}

.dark_mode_time .container_time {
    background: linear-gradient(to right, #141e30, #243b55);
}

.container_time {
    width: 440px;
    margin: 10px 20px;
    padding: 0 0 10px 0;
    border: solid #000000 1px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden
}

.container_time #time {
    font-size: 34px;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container_time p,
#day {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 100;
}

.container_time .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all .2s ease-in-out;
}

.container_time:hover>.icon {
    width: 40px;
    height: 40px;
    transform: scale(1.1);
}

.container_time .sun,
.container_time .moon {
    display: none;
}

.light_mode_time .container_time .sun {
    animation: หมุน 1s infinite;
    display: block;
}

.light_mode_time .container_time:hover>.sun {
    animation: หมุน .1s infinite;
    display: block;
}

.dark_mode_time .container_time .moon {
    display: block;
}

.dark_mode_time .container_time:hover>.moon {
    display: block;
}

/* -HBD------------------------------------------------------------------------------------------------ */

.container_hbd {
    border: solid #000000 1px;
    border-radius: 7px;
    margin: auto;
    margin: 10px 20px;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.container_hbd {
    --color: #cccccc;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

.container_hbd div h1 {
    color: #000000;
}

.container_hbd section .all_box_time {
    background-color: #999999;
    border: solid #000000 1px;
    border-radius: 5px;
    display: flex;
    font-family: 'Press Start 2P', system-ui;
    justify-content: center;
    padding: 5px;
    box-shadow: 4px 4px 8px 4px #000000B3;
    margin: 40px 0;
}

.container_hbd section .all_box_time .box_time {
    box-shadow: inset 2px 5px 10px #000000;
    text-shadow: 5px 5px 1px #000000;
    display: inline;
    margin: 5px;
    background-color: #666666;
    border-radius: 5px;
    transition: .5s;
    width: 100%;
}

.container_hbd section .all_box_time .box_time:hover {
    box-shadow: 4px 4px 8px 4px #000000B3;
    text-shadow: 10px 10px 3px #000000;
    cursor: pointer;
    transform: scale(1.1);
}

.container_hbd section .all_box_time .box_time .time {
    animation: ไฟแดนซ์ 1s infinite;
    color: #00CC4F;
    font-size: 18px;
    margin: 20px 0px;
    text-align: center;
}

.box_time:hover>.time {
    transform: scale(1.2);
}

.container_hbd section subsection div {
    background-color: #f5f5f5b3;
    border: solid #000000 1px;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0;
}

.container_hbd section subsection div #countdown {
    color: #409EFE;
    animation: ตีกลับ 2s infinite;
    font-size: 14px;
    transition: all 1.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    margin: 0 0 20px 0;
    letter-spacing: 3px;
}

.container_hbd section subsection div #birthdayImage {
    animation: ไฟแดนซ์ 1ms infinite;
    max-height: 550px;
    max-width: 350px;
    background-color: #00CC4FB3;
    border-radius: 7px;
    padding: 10px;
    color: #FE4040;
    cursor: pointer;
    transition: all 1.8s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

.container_hbd section subsection div:hover>#birthdayImage {
    box-shadow: -50px -50px 100px 50px #409EFE, 50px 50px 100px 50px #FE4040;
}

.container_hbd h5 {
    background-color: #ffffffb3;
    border-radius: 3px;
    margin: 0 0 10 0;
    padding: 10px;
    letter-spacing: 1px;
    text-align-last: left;
}

.container_hbd h5 p {
    font-size: 14px;
}

/* -skill---------------------------------------------------------------------------------------------- */

.container_skill {
    position: relative;
    width: 800px;
    margin: 10px 20px;
    padding: 10px 20px;
    border: solid #000000 1px;
    border-radius: 7px;
    background-image: linear-gradient(#ffffff 1.1rem, #cccccc 1.2rem);
    background-size: 100% 1.2rem;
}

.container_skill h1,
summary {
    cursor: pointer;
}

.container_skill .skill_box {
    width: 100%;
    margin: 25px 0;
}

.container_skill .skill_box span {
    user-select: all;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.container_skill .skill_box div {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background-color: #cccccc;
}

.container_skill .skill_box div .skill_per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background-color: #409EFE;
    animation: progress .4s ease-in-out forwards;
    opacity: 0;
    transition: width 1s;
}

.container_skill .skill_box div .skill_per.html {
    animation-delay: 1s;
}

.container_skill .skill_box div .skill_per.css {
    animation-delay: 1s;
}

.container_skill .skill_box div .skill_per.javascript {
    animation-delay: 1.2s;
}

.container_skill .skill_box div .skill_per.nodejs {
    animation-delay: 1.4s;
}

.container_skill .skill_box div .skill_per.python {
    animation-delay: .2s;
}

.container_skill .skill_box div .skill_per.c {
    animation-delay: .2s;
}

.container_skill .skill_box div .skill_per.cpp {
    animation-delay: .4s;
}

.container_skill .skill_box div .skill_per.go {
    animation-delay: .6s;
}

.container_skill .skill_box div .skill_per.java {
    animation-delay: .8s;
}

.container_skill .skill_box div .skill_per.php {
    animation-delay: 1s;
}

.container_skill .skill_box div .skill_per.sql {
    animation-delay: 1.2s;
}

.container_skill .skill_box div .skill_per.ruby {
    animation-delay: 1.4s;
}

.container_skill .skill_box div .skill_per.swift {
    animation-delay: 1.6s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.container_skill .skill_box div .skill_per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: #409EFE;
    animation: ตีกลับ 1s infinite;
}

.container_skill .skill_box div .skill_per .tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #409EFE;
    transform: translateX(-50%) rotate(45deg);
}

.container_skill section {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.container_skill section div h1 {
    font-size: px;
    margin-bottom: 10px;
}

.container_skill section div:nth-of-type(1) {
    flex-grow: 1;
    border: solid #00CC4F 1px;
    border-radius: 3px;
    margin: 0 5px 0 0;
    padding: 10px;

}

.container_skill section div:nth-of-type(2) {
    flex-grow: 1;
    border: solid #FF7070 1px;
    border-radius: 3px;
    margin: 0 0 0 5px;
    padding: 10px;
}

.container_skill section ul li::marker {
    content: "- ";
}

.container_skill section ul li {
    margin: 0 0 0 10px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}

/* -สูตรคูณ---------------------------------------------------------------------------------------- */

.container_multiplication {
    width: 800px;
    margin: 10px 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-weight: bold;
}

.container_multiplication {
    /* background style */
    --color: #CCCCCC;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

.container_multiplication div h1 {
    background-color: #f5f5f5b3;
    border: solid 1px #000000;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0 40px 0;
}

.container_multiplication div h1 a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #00CC4FB3;
    animation: typeAndDelete 6s steps(16) infinite, blinkCursor .5s step-end infinite alternate;
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 10em;
    }

    90%,
    100% {
        width: 0;
    }
}

.container_multiplication section input[type="number"],
.container_multiplication section button {
    border: solid 1px #000000;
    background-color: none;
    caret-color: #00CC4FB3;
    cursor: pointer;
    letter-spacing: 5px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}

.container_multiplication section input[type="number"] {
    background-color: #f5f5f5;
    font-size: 14px;
    height: 20px;
    margin-bottom: 40px;
}

.container_multiplication section button[type="submit"] {
    background-color: #00CC4FB3;
    letter-spacing: 1px;
}

.container_multiplication section button[type="reset"] {
    background-color: #FF7070B3;
    letter-spacing: 1px;
}

.container_multiplication section div {
    background-color: #ffffff;
    border: solid 1px #000000;
    letter-spacing: 5px;
    border-radius: 2px;
}

.container_multiplication section div h4 {
    padding: 10px 10px 10px 60px;
    background-color: #f5f5f5;
    background-image: linear-gradient(90deg, transparent 50px, #ffb4b8 50px, #ffb4b8 52px, transparent 52px),
        linear-gradient(#cccccc 0.1em, transparent 0.1em);
    background-size: 100% 30px;
}

.container_multiplication section div h4 p {
    color: #000000;
    margin: 0;
    padding: 0;
}