/* font จาก google fonts */
/* font-family: 'Press Start 2P', system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: 'Bai Jamjuree', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

/* -style--------------------------------------------------------------------------------------------- */

/* Code for Firefox */
::-moz-selection {
  background: #000000b3;
  color: #1ed760;
}

::selection {
  background: #000000b3;
  color: #1ed760;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-button {
  background-color: #333333;
  border: 1px solid #000000;
  height: 34px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(320deg, #1ed760, #409efe);
  border: #000000 solid 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #409efe;
  border: #000000b3 solid 5px;
  border-radius: 10px;
  box-shadow: -3px -3px 8px 3px #84d4fa, 3px 3px 8px 3px #84d4fa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe4040;
  box-shadow: -3px -3px 8px 3px #ff7070, 3px 3px 8px 3px #ff7070;
}

::-webkit-scrollbar-thumb {
  border: 5px solid #000000b3;
  border-radius: 360px;
  box-shadow: -3px -3px 8px 3px #84d4fa, 3px 3px 8px 3px #84d4fa;
}

body {
  animation: จางหาย 1.5s ease-in-out;
  background: #84d4fa;
  /* background-image: url('https://...'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-size: 100%;
  /* ปรับขนาดฟอนต์เป็น 100% ของขนาดปกติ */
}

@media screen and (max-width: 768px) {

  body,
  input,
  button {
    font-size: 80%;
    /* ลดขนาดฟอนต์เมื่อหน้าจอมีความกว้างไม่เกิน 768px */
  }
}

@media screen and (max-width: 480px) {

  body,
  input,
  button {
    font-size: 70%;
    /* ลดขนาดฟอนต์เมื่อหน้าจอมีความกว้างไม่เกิน 480px */
  }
}

/* -all--------------------------------------------------------------------------------------------- */

.dark_mode {
  transition: background-color 1s;
  background: #333333;
}

.dark_mode .content .container {
  background: #666666;
}

.dark_mode .button_next {
  transition: background-color 1s;
  background: #333333;
}

.dark_mode .button_next .text {
  transition: background-color 1s;
  background-color: #666666;
  color: #cccccc;
}

.dark_mode .content .container .bt .button,
.dark_mode footer #scrollToTopButton,
.dark_mode footer #scrollToBottomButton {
  background: linear-gradient(320deg, #333333, #999999);
  color: #cccccc;
}

.dark_mode .content .container .bt .button:hover,
.dark_mode .content .container .bt .button:hover>.text {
  background: linear-gradient(320deg, #333333, #777777);
}

.dark_mode .br,
.dark_mode .h3 {
  background: linear-gradient(320deg, #333333, #999999);
  box-shadow: -3px -3px 8px 3px #333333, 3px 3px 8px 3px #666666;
  color: #cccccc;
}

.dark_mode .br {
  border: #f5f5f5b3 solid 1px;
}

/* -about--------------------------------------------------------------------------------------------- */
.dark_mode .container_message,
.dark_mode .container_about,
.dark_mode .container_color {
  background: #999999;
  color: #333333;
}

/* -index--------------------------------------------------------------------------------------------- */

.dark_mode {
  background: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

small {
  color: #000000;
  font-size: 80%;
}

@media screen and (max-width: 768px) {
  small {
    font-size: 60%;
  }
}

@media screen and (max-width: 480px) {
  small {
    font-size: 50%;
  }
}

summary {
  cursor: pointer;
  text-align: end;
}

body .color_change {
  color: #fe4040;
}

.progress {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.progress progress {
  margin: 0;
  padding: 0;
  user-select: none;
}

#all_text_title {
  color: #333333;
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 1px 1px 16px 1px #000000b3;
  border: solid #333333 1px;
  padding: 10px 20px;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  text-align: center;
  display: none;
  z-index: 2000;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84d4fa;
  padding: 100%;
}

.preloader .pattern-1 {
  position: absolute;
  background-color: #ff4c5a;
  width: 200px;
  height: 200px;
  clip-path: polygon(0 10%, 70% 90%, 40% 90%, 0 45%);
}

.preloader .pattern-2 {
  position: absolute;
  background-color: #ff4c5a;
  width: 220px;
  height: 190px;
  clip-path: polygon(100% 10%, 100% 45%, 83% 65%, 55% 65%);
}

.preloader .pattern-1 .pattern-1-shade {
  position: absolute;
  transform: translateX(-20px);
  opacity: 0.7;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  width: 20px;
  height: 200px;
  animation: shiny 1s infinite;
}

@keyframes shiny {
  0% {
      transform: translateX(-20px);
  }
  100% {
      transform: translateX(140px);
  }
}

header {
  user-select: none;
  align-items: center;
  background: #f5f5f5b3;
  box-shadow: 4px 4px 8px 4px #000000b3;
  display: flex;
  /* แบบอื่นๆ เช่น space-around, space-evenly ก็ได้ตามความต้องการ */
  justify-content: space-between;
  /* จัดให้แนวตั้งตรงกันกับ logo ถ้ามี */
  padding: 5px;
  position: fixed;
  margin-bottom: 80px;
  width: 100%;
  top: 0;
  z-index: 2;
}

header .baning {
  user-select: none;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
}

header .img-baning {
  user-select: none;
  animation: หมุน 500ms infinite;
  margin-right: 10px;
  width: 24px;
}

header .switch {
  user-select: none;
  font-size: 11px;
  position: relative;
  display: inline-block;
  margin: 10px 10px 0 0;
  width: 3.5em;
  height: 1em;
}

header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 10px 0 0 0;
}

header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background:; */
  border: 2px solid #000000;
  transition: 0.4s;
  border-radius: 1px;
}

header .slider:before {
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.2em;
  border-radius: 2px;
  left: 0.2em;
  bottom: 0.3em;
  background: #ffffff;
  border: 2px solid #000000;
  transition: 0.2s;
}

header input:checked+.slider {
  background: #000000;
}

header input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

header input:checked+.slider:before {
  transform: translateX(1.3em);
}

/* ------------------------------------------------------------------------------------------------ */

.br,
.h3 {
  user-select: none;
  background: linear-gradient(320deg, #00cc4f, #84d4fa);
  border: #000000b3 solid 1px;
  border-radius: 1.5rem;
  box-shadow: -3px -3px 8px 3px #409efe, 3px 3px 8px 3px #00cc4f;
  color: #000000;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 20px 0;
}

.h3 {
  border: none;
}

.button_next {
  user-select: none;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border: solid #f5f5f5b3 3px;
  border-radius: 0 3px 3px 0;
  background: #409efe;
  box-shadow: 4px -1px 8px #000000b3, -8px 8px 16px #ffffff80;
  position: fixed;
  bottom: 40px;
  transform: translateX(-8%);
  transition: 0.5s;
  text-align: center;
  z-index: 1000;
}

.button_next:hover {
  transform: translateX(0);
}

.button_next:active {
  transform: scale(0.97);
}

.button_next .text {
  width: 70%;
  height: 100%;
  font-weight: bold;
  box-shadow: inset 2px 5px 10px #000000;
  text-shadow: 5px 2px 3px #000000b3;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background: #ffffff80;
  color: #000000;
}

.button_next img {
  width: 20px;
}

.button_next:hover>img {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

footer {
  user-select: none;
  align-items: center;
  background-color: #f5f5f5b3;
  bottom: 0;
  box-shadow: 4px 4px 8px 4px #000000b3;
  display: flex;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bold;
  left: 0;
  height: 30px;
  /* แบบอื่นๆ เช่น space-around, space-evenly ก็ได้ตามความต้องการ */
  justify-content: space-between;
  margin-top: 80px;
  padding: 5px;
  position: fixed;
  margin-top: 80px;
  right: 0;
  width: 100%;
  z-index: 2;
  justify-content: space-evenly;
  align-items: normal;
}

footer #scrollToTopButton,
footer #scrollToBottomButton {
  background: linear-gradient(320deg, #409efe, #84d4fa);
  border: none;
  cursor: pointer;
  border-radius: 7px;
  color: #000000;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: bold;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer #scrollToTopButton:hover,
footer #scrollToBottomButton:hover {
  background: linear-gradient(320deg, #fe4040, #ff7070);
  box-shadow: 4px 4px 8px 4px #000000b3;
}

footer #scrollToTopButton:active,
footer #scrollToBottomButton:active {
  transform: scale(0.97);
}

footer #scrollToTopButton:focus,
footer #scrollToBottomButton:focus {
  box-shadow: inset 2px 5px 10px #000000b3;
}

/* -ฟังชันcss-------------------------------------------------------------------------------------------- */

@keyframes สกิล {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* -------------------------------------------------- */

@keyframes จางหาย {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ดัน {

  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes ร็อค {
  0% {
    transform-origin: 0 0;
  }

  5% {
    transform: scale(0.5);
  }

  10% {
    transform: scale(0.5);
  }
}

@keyframes เขย่า {

  0%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }
}

@keyframes เขย่า2 {
  0% {
    rotate: 0;
  }

  25% {
    rotate: 7deg;
  }

  50% {
    rotate: -7deg;
  }

  75% {
    rotate: 1deg;
  }

  100% {
    rotate: 0;
  }
}

@keyframes บิน {
  0% {
    transform: translateX(-10000px);
  }

  20% {
    transform: rotate(0deg);
  }

  22% {
    transform: rotate(90deg);
  }

  24% {
    transform: translatey(200px);
  }

  28% {
    transform: translatey(200px);
  }

  30% {
    transform: translatex(350px);
  }

  32% {
    transform: rotate(180deg);
  }

  34% {
    transform: translatex(-10000px);
  }

  100% {
    transform: translatex(-10000px);
  }
}

@keyframes หมุน {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes หมุนกระตุก {
  0% {
    transform: rotate(-0deg);
  }

  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(-40deg);
  }

  30% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(-52.57142857142857deg);
  }

  50% {
    transform: rotate(60deg);
  }

  60% {
    transform: rotate(-72deg);
  }

  70% {
    transform: rotate(90deg);
  }

  80% {
    transform: rotate(-120deg);
  }

  90% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes กระผิบ {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes กระโดด {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes ไฟแดนซ์ {
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes โกผับผับ {
  0% {
    transform: translateY(0) scaleY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-50%) scaleY(1.2);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%) scaleY(1);
    border-radius: 8px;
    opacity: 1;
    height: 40px;
  }
}

@keyframes ตีกลับ {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(-2px);
  }
}

@keyframes สไลด์อิน {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-5deg) scale(1.1);
  }
}